<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/assets/obi.css">

    {{ page.stylesheets }}
  </head>
  <body>

      <header style="width:200px; float: left;padding-left:15px; position:fixed">
        <a href="/"> <h1 align="right">OBI</h1></a>
        <hr size="1" style="border-top:3px solid #eee" />

        <p align="right">

          <a href="/term-guidelines">Term Guidelines</a><br>
          <a href="/projects">Projects</a><br>
          <a href="/media">Media</a><br>
          <a href="/docs">Documentation</a><br>
        </p>


        {% if page.url contains "/docs/" %}

        <div id="doc-nav-wrapper">
          <div id="doc-nav">
            <div>
              <b>OBI Core</b><br>
              <!-- a href="/docs/core-model/">Core Model</a><br> -->
              <a href="/docs/core-classes/">Core Classes</a><br>

              <br>
              <b>Data Modelling</b><br>
              <a href="/docs/data-intro/">Introduction</a></br>
              <a href="/docs/data-ice/">Information Content Entities</a></br>
              <a href="/docs/process-intro/">Process Basics</a></br>
              <a href="/docs/process-timing/">Process Timing</a></br>
              <a href="/docs/data-properties/">Data Properties</a></br>
              <a href="/docs/data-vs/">Value Specifications</a></br>
              <a href="/docs/data-bmi/">Body Mass Index Example</a></br>
              <a href="/docs/data-precomposed/">Precomposed Terms</a></br>
              <a href="/docs/data-parts/">Describing Parts</a></br>
              <a href="/docs/data-time-stamped/ ">Time stamped Data</a></br>
              <a href="/docs/data-sets/">Datasets</a></br>

              <br>
              <b>Data Types</b><br>
              <a href="/docs/datatypes/">Introduction</a><br>
              <a href="/docs/datatype-numeric/">Numeric</a><br>
              <a href="/docs/datatype-string/">String</a><br>
              <a href="/docs/datatype-categorical/">Categorical</a><br>
              <a href="/docs/datatype-boolean/">Boolean</a><br>
              <a href="/docs/datatype-time/">Date, Time, Duration</a><br>

              <br>
              <a href="/docs/robot-intro/"><b>Robot Templates</b></a><br>
            </div>
          </div>
        </div>
        {% endif %}
      </header>

      <div style="min-width: 500px; max-width:750px; margin-left: 230px;margin-right:30px">

        {% if page.url == "/" %}

          <h1>{{ page.header }}</h1>

        {% else %}

          <h1>{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}</h2>

        {% endif %}
        
        <div style="padding-top:30px">
          {{ content }}
        </div>
      </div>

      <br style="clear: both">

      <footer class="footer">
        <p>&copy; 2019 OBI</p>
      </footer>

  </body>
</html>
